.show {
  display: inline-block;
}
.hide {
  display: none;
}
.popmodal {
  font-size: 15px;
}
.popmodal > .clcls {
  cursor: help;
  position: absolute;
  display: block;
  padding: 1px 5px 3px;
  line-height: 25px;
  right: -5px;
  top: -3px;
  font-size: 24px;
  background: #93afaf;
  border-radius: 18px;
  border: 1px solid #1a1818;
}
.popmodal .headcls {
  text-align: center;
  border-bottom: 1px solid rgb(233, 5, 5);
  font-size: 18px;
  width: 90%;
  margin-left: 10px;
}
.popmodal > .maincls {
  text-align: center;
  width: 90%;
}
.popmodal > .newaddcls {
  max-height: 80%;
  padding: 0px;
}
.popmodalolaycls {
  background: rgb(230, 221, 221, 0.5) none repeat scroll 0% 0%;
  inset: 0px;
  position: fixed;
  display: flex;
  z-index: 999;
}
.popupmodalwprcls {
  border: 1px solid rgb(238, 116, 67);
  background: rgb(243, 232, 168) none repeat scroll 0% 0%;
  width: 90%;
  margin: auto;
  padding: 8px;
  max-width: 500px;
  border: 3px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  position: relative;
}
.maincls label {
  font-weight: bold;
}

.topdivcls {
  position: absolute;
  top: 0px;
  left: 0px;
}
.popmodal > .newaddcls .form-group {
  margin: 0px 0px 0px 15px;
}
.popmodal a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  background: #c9cccc;
  color: white;
  font-weight: bold;
}
